body{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 200px;
    align-items: center;
}
.face{
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
}
.eye1{
    width: 40px;
    height: 40px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    left: 60px;
    top: 63px;
}
.eye2{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 120px;
    top: 5px;
}
.mouth{
    height:57px;
    width: 154px;
    position: absolute;
    background-color:rgb(95, 21, 21);
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    top:100px;
    left:-105px;
}
.toungue{
    position:absolute;
    width:50px;
    height:30px;
    background-color: red;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    left: 50px;
    top:28px;
}
.sp_mouth{
    height:10px;
    width: 164px;
    position: absolute;
    background-color:black;
    top:120px;
    left:-115px;
}
.sk_mouth{
    height:84px;
    width: 74px;
    position: absolute;
    background-color:black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top:100px;
    left:-65px;
}